/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/****** Header ***********/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 0;
}

.nav-links {
    display: flex;
    gap: 68px;
}

a {
    color: inherit;
    text-decoration: none;
}

#logo-header {
    width: 61px;
    height: 19px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 5px 0;
    transition: color 0.3s ease-in-out;
}

.nav-links a::before {
    content: "";
    position: absolute;
    bottom: 150%;
    left: 0;
    width: 0; /* Initialement caché */
    height: 3px;
    background-color: var(--main-color);
    transition: width 0.3s ease-in-out; /* On anime width au lieu de scaleX */
}

.nav-links a:hover {
    color: var(--main-color);
}

.nav-links a:hover::before {
    width: 100%; /* Fait apparaître la ligne */
}

h1 {
    margin-bottom: 8px;
    font-size: 22px;
}

h1+p {
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: fit-content;
    margin-bottom: 35px;
}

.fa-star {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color) !important;
    /* Forcer le gris */
}

/* Cibler uniquement les icônes nécessaires */
.location-icon .fa-solid,
.button-icon .fa-solid,
.filters button i,
.fa-chart-line {
    color: var(--main-color);
}

.location-icon {
    background-color: var(--main-bg-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    min-width: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-bar input {
    outline: none;
    border: 1px solid var(--main-bg-color);
    width: 195px;
    padding: 15px;
    flex: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border: none;
    font-weight: bold;
    padding: 15px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    cursor: pointer;
}

/****** Filtres ***********/

.filters {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}

.filters button {
    background-color: white;
    font-weight: bold;
    border: 1px solid #D9D9D9;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.filters button i {
    margin-right: 8px;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

.logements-dispo {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.info-icon {
    background-color: white;
    color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    font-size: 12px;
}

.logements-dispo p {
    margin: 0;
}

#display-more {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 30px;
}

/* Hebergements And Populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hebergements */
.hebergements {
    width: 65%;
}

#hebergements-title {
    margin: 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    margin-top: 30px;
}

.card2 {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
}

.card2 img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.card2-content {
    padding-left: 15px;
}

.card-title {
    font-size: 16px;
    margin: 0;
    padding-top: 4px;
}

.card2-txt .card-subtitle {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.euro {
    font-weight: 700;
}

.card2-content .fa-star {
    padding-bottom: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/

.activities-title {
    margin: 0;
    font-size: 22px;
    margin: 0;
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.activities a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
}

.card3 {
    width: 100%;
    height: 439px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
}

.card3:hover {
    transform: scale(1.02);
}

.card3 img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.card3 h3 {
    padding: 15px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 700;
}

.activities {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

/****** Footer ***********/

.footer {
    display: flex;
    justify-content: flex-start;
    background-color: var(--main-bg-color);
    padding: 20px 0 0 20px;
    margin-top: 65px;
}

.footer-column {
    width: 30%;
    margin-right: 5%;
}

.footer-column h3 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 12px;
}

.footer-column a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.footer-column a:hover {
    text-decoration: underline;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        position: relative;
        padding-top: 0;
        margin-top: 70px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .filters p {
        position: absolute;
        top: -35px;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .filters button {
        margin: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .card3 {
        height: auto;
    }

    .card3 img {

        width: 100%;

        height: 200px;

        object-fit: cover;

    }
}

@media (max-width: 768px) {

    .main-container {
        padding: 0;
    }

    /* Navigation */
    nav {
        flex-direction: column;
        padding: 30px 0 0 0;
    }

    #logo-header {
        width: 96px;
        height: 30px;
        margin: 0 auto 30px auto;
    }

    .nav-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100vw;
        position: relative;
    }

    .nav-links::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right,
                var(--main-color) 50%,
                var(--main-bg-color) 50%);
    }

    .nav-links a {
        width: 100%;
        text-align: center;
        padding: 16px 0;
        font-size: 16px;
        transition: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-links a::before {
        display: none;
        /* Cache la ligne animée sous le lien */
    }

    .nav-links a[href="#hebergements"] {
        border-color: var(--main-color);
    }

    .nav-links a:first-child {
        color: var(--main-color);
    }

    h1 {
        margin-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1+p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-bar {
        width: 100%;
        justify-content: space-between;
        position: relative;
    }

    .search-bar input {
        outline: none;
        border: 1px solid var(--main-bg-color);
        width: calc(100% - 60px);
        padding: 15px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
    }

    .search-bar button {
        background-color: var(--main-color);
        color: white;
        border: none;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        padding: 0;
        border-radius: 10px;
        width: 50px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Bouton loupe */
    .search-bar button::before {
        content: "\f002";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 16px;
    }

    .search-bar button span {
        display: none;
    }

    /* Filtres version mobile */
    .filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 90%;
        margin-bottom: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .filters p {
        position: static;
        grid-column: 1 / -1;
        /* Le texte "Filtres" prend toute la largeur */
        margin-bottom: 10px;
    }

    .filters button {
        width: 100%;
        padding: 12px 10px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .filters button i {
        margin-right: 8px;
    }

    .logements-dispo {
        padding-left: 20px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color) !important;
    }

    .hebergements-and-populaires .hebergements {
        background-color: transparent !important;
    }

    .populaires {
        margin-top: 0;
        margin-bottom: 35px;
    }

    /* Hébergements */
    .hebergements {
        background-color: transparent;
    }

    .hebergements-cards {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .hebergements-cards a {
        color: inherit;
        text-decoration: none;
        width: 100%;
        display: block;
    }

    /* Populaires */

    .populaires {
        background-color: var(--main-bg-color);
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    /* Activités */
    .activities-title {
        padding-left: 20px;
        padding-right: 20px;
    }

    .activities {
        flex-direction: column;
        gap: 15px;
        padding: 0 20px;
    }

    .card3 {
        height: auto;
        width: 100%;
        margin: 0;
        box-sizing: border-box;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    }

    .card3 img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }

    .card3 h3 {
        padding: 15px 20px;
        margin: 0;
        font-size: 16px;
        font-weight: 700;
    }

    .activities-title {
        margin-top: 30px;
        margin-bottom: 20px;
        padding-top: 0;
    }

    /* Footer */
    .footer {
        flex-direction: column;
        padding: 30px;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 30px;
    }
}